* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}

.container {
    /* border: 1px solid red; */
}

.h1-title {
    font-size: 15px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: capitalize;
}

/* header */


.header .logo {
    color: #dc4f72;
    text-decoration: none;
}

.header a i {
    text-decoration: none;
}

.header .menu a {
    text-decoration: none;
    position: relative;
    transition: all 0.5s;
}


.header .menu a:hover {

    color: #dc4f72 !important;
    transition: color 0.5s;
}

.header .active-link {
    color: #dc4f72 !important;
}

.header .menu a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #dc4f72;
}

.header .menu a:hover::after {
    width: 50%;
    transition: width 0.5s;
}

.dropdown-menu a:hover {

    background-color: transparent !important;

}


.header .menu .button-deco {
    border: 1px solid #dc4f72;
    color: #dc4f72;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.5s;
}


.header .menu .button-deco:hover {
    border: 1px solid transparent;
    color: #fff;
    background-color: #dc4f72 !important;

    transition: all 0.5s;
}


.header .container .menu .dropdown-menu {
    left: -45px !important;
    top: 20px !important;
}



.header .container .menu .dropdown-menu::before {
    position: absolute;
    content: '';
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    width: 20px;
    height: 20px;
    top: -11px;
    left: 50%;
}

/* carousel */

.carousel-section {
    margin-top: 100px;
    background-image: url(../images/carousel-BG.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    background-attachment: fixed;


}


.carousel-section .custom-container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    min-height: 500px;
}


.carousel-section .container .carousel-img img {
    transform: rotate(180deg);
}


.carousel-section .container .row {

    padding-top: 100px;
}




.carousel-section .container .button-deco {
    border: 1px solid #dc4f72;
    color: #dc4f72;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.5s;
}


.carousel-section .container .button-deco:hover {
    border: 1px solid transparent;
    color: #fff;
    background-color: #dc4f72 !important;

    transition: all 0.5s;
}


/* services */

.services .container .service-title {

    padding: 10px 190px;
}


.services .service-list .service-item {
    background-color: #f7f9fc;
    box-shadow: transparent;
    overflow: hidden;

    transition: all 0.5s;
}

.services .service-list .service-item:hover {
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transform: translateY(-20px);
    transition: all 0.5s;
}



/* solutions */

.solutions .container .solutions-title {

    padding: 10px 190px;
}

.solutions .p-solutions-1 {
    background-color: #fcdfe4;
    color: #dc4f72;
}

.solutions .p-solutions-2 {
    background-color: #cce6cc;
    color: #6a8000;
}

.solutions .p-solutions-3 {
    background-color: #ccccff;
    color: #7d4eff;
}

.solutions .container .card-list .card-item .card-header img {
    filter: grayscale(100%);
}


.solutions .container .card-list .card-item .card-header {
    position: relative;
}

.solutions .container .card-list .card-item .card-header p {
    position: absolute;
    background-color: #dc4f72;
    width: 35%;
    border-top-right-radius: 0.5rem;
    top: 0;
    right: 0;

}

.solutions .container .card-list .card-item .card-footer a {
    font-size: 12px;
    color: #dc4f72;
}

.solutions .container .card-list .card-item {
    transition: all 0.5s;
}

.solutions .container .card-list .card-item:hover {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transform: translateY(-20px);
    transition: all 0.5s;
}

.solutions .container .card-list .card-item:hover img {
    filter: grayscale(0%);
    transition: all 0.5s;
}

.solutions .container .card-list .card-item:hover .footer-i {
    transform: translateX(5px);
    transition: all 0.5s;
}

.solutions .container .card-list .card-item:hover .body-a {
    color: #dc4f72 !important;
    transition: all 0.5s;
}


/* faq */

.faq .accordion .accordion-button:not(.collapsed) {
    border: transparent !important;
    background-color: transparent !important;
    color: #000;
}

.accordion-button::after {
    background-image: none;
    width: 0;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    width: 0;
}

.faq .accordion .accordion-button:focus {
    box-shadow: inherit;
}

.faq .accordion .accordion-button {
    position: relative;
}

.faq .accordion .accordion-item .custom-arrow::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 9px;
    right: 31px;
    transform: rotate(320deg);
}

.faq .accordion .accordion-item .custom-arrow::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 9px;
    right: 27px;
    transform: rotate(30deg);
}

.faq .accordion .accordion-item .accordion-button:not(.collapsed):before {
    transform: translate(4px, 0) rotate(320deg);
    transition: all 0.5s;
}


.faq .accordion .accordion-item .accordion-button:not(.collapsed):after {
    transform: translate(-4px, 0) rotate(-320deg);
    transition: all 0.5s;
}


.faq .accordion .accordion-item .accordion-header {
    border-bottom: transparent;
}

.faq .accordion .faq-img img{
    position: sticky;
    top: 120px;
    transition: all 0.5s;
}

.faq .accordion .faq-img img:hover{
    transform: translateY(-10px);
    transition: all 0.5s;
}


.faq .accordion .accordion-body{
    overflow: hidden;
}

.faq .accordion .accordion-body p{
    opacity: 0;
    animation: goup 1s;
    
    animation-fill-mode: both;
}

.faq .faq-title{
    padding: 10px 190px;
}

@keyframes goup {
    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* footer */

.footer .footer-item li a{
    transition: all 0.5s;
}
.footer .footer-item li a:hover{
    color: #dc4f72 !important;
    transition: all 0.5s;
}

.footer .newspaper .button-deco {
    
    background-color: #dc4f72 !important;
}

.footer .footer-icon .right p{
    margin-top: 10px;
}






























/* CSS + dark theme (này để cuối) */

#switchButton {
    background-color: white;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

.dark #switchButton {
    background-color: black;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}


/* Dark Header */
.dark .header {
    background-color: black !important;
}

.dark .header .menu a {
    color: #fff !important;
    transition: all 0.5s;
}

.dark .header .menu a:hover {
    color: #dc4f72 !important;
    transition: all 0.5s;
}

.dark .dropdown-menu {

    background-color: black !important;
    border: 1px solid #fff;

}

.dark .header .container .menu .dropdown-menu::before {
    position: absolute;
    content: '';
    background: #000;
    border: 1px solid white;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    width: 20px;
    height: 20px;
    top: -11px;
    left: 50%;
}

/* dark carousel */
.dark .carousel-section .custom-container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    min-height: 500px;
}

.dark .carousel-section .carousel-title {
    background-attachment: fixed;
}

.dark .carousel-section .carousel-title {
    color: #fff !important;
}

.dark .carousel-section .carousel-title p {
    color: #fff !important;
}
/* Dark Services */

.dark .services {
    background-color: black;
}

.dark .services .service-title {
    color: #fff !important;
}

.dark .services .service-list .service-item{
    background-color: #b3aeae;
}
/* dark solutions */

.dark .solutions {
    background-color: #000;
}


.dark .solutions .solutions-title {
    color: #fff !important;
}


.dark .solutions .card-list .card-item{
    background-color: #b3aeae !important;
    /* border: transparent !important; */
}

.dark .solutions .card-list .card-item .card-body p:not(:first-child){
    color: #000 !important;
}

/* .dark .solutions .card-list .card-item .card-footer{
    
    padding-bottom: 10px;
} */
/* dark faq */

.dark .faq {
    background-color: #000 !important;
}

.dark .faq .faq-title {
    color: #fff !important;
}

.dark .accordion-item , .dark .accordion-button{
    background-color: #b3aeae !important;
}


/* dark footer */

.dark .footer {
    background-color: #000 !important;
    color: #fff !important;
}
.dark .newspaper .table-news{
    background-color: #b3aeae !important;
}

.dark .footer .footer-icon a{
    color: #fff !important;
}




/* Reponsive */

@media only screen and (max-width:768px){
    
    

    .header .menu{
        width: 100%;
    }
    .header .menu .button-deco{
        font-size: 12px !important;
        padding: 2px !important;
    }
    .header .menu a{
        margin-left: 2px !important;
        font-size: 12px;
    }
    
    .carousel-section .container .carousel-title{
        text-align: center !important;
    }

    

    .services .container .service-title {
        padding: 50px 0;
    }


    .services .container .service-list .service-item {
        margin-bottom: 50px;
    }

    .solutions .container .solutions-title {
        padding: 50px 0;
    }

    .solutions .container .card-list .card-item{
        margin-bottom: 50px;
    }
    
    .faq .container .faq-title {
        padding: 50px 0;
    }

    .footer .footer-icon .left i{
        font-size: 12px;
    }

    .footer .footer-icon .right p{
        font-size: 10px;
    }
}

